streamlit==1.41.1
streamlit-authenticator==0.4.1
streamlit-highcharts==0.2.0
streamlit-option-menu
pandas
pandasai==2.0.28
phidata
google-generativeai==0.4.1
ydata-profiling
plotly
kaleido
numpy==2.2.1
openpyxl==3.1.5
requests==2.32.3
pyarrow==18.1.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
matplotlib==3.10.0
highcharts-core==1.10.2
pydeck==0.9.1
