streamlit==1.41.1
streamlit-authenticator==0.4.1
streamlit-highcharts==0.2.0
streamlit-optiion-menu
pandas==2.2.3
numpy==2.2.1
openpyxl==3.1.5
requests==2.32.3
python-dateutil==2.9.0.post0
pyarrow==18.1.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
matplotlib==3.10.0
highcharts-core==1.10.2
pydeck==0.9.1
