streamlit
streamlit-authenticator
streamlit-highcharts
streamlit-option-menu
pandas
pandasai
phidata
google-generativeai
ydata-profiling
plotly
kaleido
numpy
openpyxl
requests
pyarrow
scikit-learn
scipy
seaborn
matplotlib
highcharts-core
pydeck
